@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 67% 95%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 66% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 205 60% 88%;
    --secondary-foreground: 210 10% 23%;
    --muted: 205 60% 88%;
    --muted-foreground: 210 10% 45%;
    --accent: 36 90% 61%;
    --accent-foreground: 24 70% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 50% 85%;
    --input: 205 50% 85%;
    --ring: 207 66% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 200 50% 90%;
    --card: 210 10% 20%;
    --card-foreground: 200 50% 90%;
    --popover: 210 10% 15%;
    --popover-foreground: 200 50% 90%;
    --primary: 207 66% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 30%;
    --muted-foreground: 200 50% 70%;
    --accent: 36 90% 61%;
    --accent-foreground: 24 70% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 207 66% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
